// config for css
@import 'config';
@import 'menu';




* {
    box-sizing: border-box;
}

body{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3{
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2),0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px); // to adjust sticky footer, formula is height of main page minus height of footer

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }

}

// Abaout Page
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'work work1 work2'
    'job1 job2 job3'
    'job4 job5 job6'
    'skill skilltitle1 skilltitle2'
    'skill1 skill2 skill3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 1rem;
        border-bottom: $secondary-color 10px solid;
    }
  
   .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }

    .job-4 {
        grid-area: job4;
    }

    .job-5 {
        grid-area: job5;
    }

    .job-6 {
        grid-area: job6;
    }
    
    .skilltitle{
        grid-area: skill;
        font-size: 1.2rem;
    }

    .skill{
        background: darken($primary-color, 5);
        padding: 1rem;
        line-height: 1rem;
        border-bottom: $secondary-color 10px solid;
    }

    .skill-1 {
        grid-area: skill1;
    }

    .skill-2 {
        grid-area: skill2;
    }

    .skill-3 {
        grid-area: skill3;
    }



    
}

// Work / Projects Page
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: #fff 3px solid;
        
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 0.2rem;
    

    div {
        font-size: 1.5rem;
        border: 1px solid rgb(189, 186, 186);
        padding: 1.5rem 2.5rem;
        margin-bottom: 0.5rem;
        @include easeOut;

        &:hover {
            padding: 1.3rem 2.3rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($primary-color);
            }
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

// Footer
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
    border-top: $secondary-color 3px solid;
}

// Modal

/* Style the Image Used to Trigger the Modal */
 #myImg1,
 #myImg2,
 #myImg3,
 #myImg4,
 #myImg5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    //margin-top: 5%; 
    margin: auto;
    display: block;
    width: 50%;
    max-width: 80%;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .closeModal {
    position: absolute;
    top: 5%;
    right: 100px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

@import 'mobile';